<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <title>Patient Details</title>
    
  </head>
  <body>
        <h1>Patients:</h1>
        <table border=2>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th colspan=4>Operations</th>
            </thead>
            {% for patient in patient_list %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.age }}</td>
                <td><a href="/update/{{patient.id}}">Update</a></td>
                <td><a href="/delete/{{patient.id}}">Delete</a></td>
                <td><a href="/addData/{{patient.id}}">Add Data</a></td>
                <td><a href="/analyze/{{patient.id}}">Analyze Data</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="create/">Add Patient</a>
    </body>
</html>